<div class="h-screen">

    <app-navbar class="" (onMenuButton)="sidenav.toggle()"></app-navbar>

    <mat-sidenav-container>

        <mat-sidenav [mode]="sidenavMode" opened #sidenav class="w-48">

            <div routerLink="">dashboard</div>
            <div routerLink="users">Elemento 2</div>
            <div routerLink="areas">Elemento 3</div>
            
            <div routerLink="chemicals">Elemento 4</div>
        </mat-sidenav>

        <mat-sidenav-content class="h-full">

            <div class="">Main Component</div>

            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>