<div class="h-screen">

    <app-navbar class="" (onMenuButton)="sidenav.toggle()"></app-navbar>

    <mat-sidenav-container class="h-screen">

        <mat-sidenav [mode]="sidenavMode" opened #sidenav class="w-48">

            <div routerLink="">dashboard</div>
            <div routerLink="users">Elemento 2</div>
            <div routerLink="areas">Elemento 3</div>

            <a *ngFor="let item of sidenavItems[0]">
                <mat-icon>{{item}}</mat-icon>
            </a>

            <div routerLink="chemicals">Elemento 4</div>
        </mat-sidenav>

        <mat-sidenav-content class="">

            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>