<div class=" flex flex-col h-full">

    <!--Navbar-->

    <app-navbar class="sticky top-0 z-10" (onMenuButton)="sidenav.toggle()" [url]="activeUrl"></app-navbar>

    <!--Sidenav-->

    <mat-sidenav-container class="flex-auto w-screen flex flex-row">

        <mat-sidenav [mode]="sidenavMode" opened #sidenav class="w-36 bg-primary-50">

            <div *ngFor="let item of sidenavItems">
                <a mat-button routerLink="{{item.link}}"
                   class="cursor-pointer w-full">

                    <mat-icon routerLinkActive="font-black text-primary-500"
                              [routerLinkActiveOptions]="{exact: true}"
                              class="mr-1">{{item.icon}}</mat-icon>
                    <br>
                    <span routerLinkActive="font-black text-primary-500"
                          [routerLinkActiveOptions]="{exact: true}"
                          class="leading-3 whitespace-normal">{{item.item | titlecase}}</span>
                </a>

            </div>

        </mat-sidenav>

        <!--Main content-->

        <mat-sidenav-content class="flex-auto">

            <app-spinner></app-spinner>

            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>