<p class="text-center text-3xl font-bold text-primary-500 mt-5">Crear Sustancia Química</p>

<form autocomplete="off" [formGroup]="chemicalForm" (ngSubmit)="submit()"
      class="">

    <app-basic-input
                     [label]="'Nombre de la Sustancia Química'"
                     control="chemical">
    </app-basic-input>

    <br>

    <app-chip-list-input
                         [control]="providers"
                         [label]="'providers'">
    </app-chip-list-input>

    <app-selection-list
                        [items]="(ppes$ | async) || []"
                        itemName="ppe"
                        control="ppes"
                        img="img">
    </app-selection-list>


    <app-phrases-form
                      [fGroup]="chemicalForm"
                      phrases="p_phrases">
    </app-phrases-form>


</form>


<br>

<pre>{{chemicalForm.value | json}}</pre>

