<p class="text-center text-3xl font-bold text-primary-500 mt-5">Crear Sustancia Química</p>

<form autocomplete="off" [formGroup]="chemicalForm" (ngSubmit)="submit()"
      class="">

    <app-basic-input
                     [label]="'Nombre de la Sustancia Química'"
                     control="chemical">
    </app-basic-input>

    <br>

    <app-chip-list-input
                         [control]="providers"
                         [label]="'providers'">
    </app-chip-list-input>

    <app-selection-list
                        [items]="(ppes$ | async) || []"
                        itemName="ppe"
                        control="ppes"
                        img="img">
    </app-selection-list>




    <p>Frases H</p>
    <form [formGroup]="newHPhrase">
        <mat-form-field appearance="standard">
            <mat-label>Código</mat-label>
            <input matInput type="text" placeholder="Código" formControlName="code">
            <mat-error>Ingrese un código</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" placeholder="Descripción" formControlName="description">
            <mat-error>Ingrese la descripción de la frase</mat-error>
        </mat-form-field>
        <button mat-button color="primary" type="button" (click)="addHPhrase()">
            <mat-icon>add_circle</mat-icon>
        </button>
    </form>

    <div formArrayName="h_phrases">
        <ng-container *ngFor="let phraseFormGroup of h_phrases.controls; let i = index">
            <form [formGroupName]="i">
                <mat-form-field appearance="standard">
                    <mat-label>Código</mat-label>
                    <input matInput type="text" formControlName="code">
                    <mat-error>Ingrese un código</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Descripción</mat-label>
                    <input matInput type="text" formControlName="description">
                    <mat-error>Ingrese la descripción de la frase</mat-error>
                </mat-form-field>
                <button mat-button color="warn" type="button" (click)="deleteHPhrase(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </form>
        </ng-container>
    </div>

</form>


<br>

<pre>{{chemicalForm.value | json}}</pre>

<br>

<pre>{{newPPhrase.value | json}}</pre>
<br>
<pre>{{newHPhrase.value | json}}</pre>
<pre>{{newHPhrase.valid | json}}</pre>