<p class="text-center text-3xl font-bold text-primary-500 mt-5">Crear Sustancia Química</p>

<form autocomplete="off" [formGroup]="chemicalForm" (ngSubmit)="submit()"
      class="">

    <app-basic-input
                     [label]="'Nombre de la Sustancia Química'"
                     [control]="'chemical'">
    </app-basic-input>

    <br>

    <app-chip-list-input
                         [control]="providers"
                         [label]="'providers'">
    </app-chip-list-input>


</form>

<pre>{{chemicalForm.value | json}}</pre>