<p class="text-center text-3xl font-bold">Listado de Sustancias Químicas</p>

<div>

    <mat-form-field appearance="standard" class="w-full">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter()" placeholder="Ej. Alcohol" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource"
           matSort class="w-full">

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row">
                {{column.cell(row)}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No se encontraron resultados de: "{{input.value}}"</td>
        </tr>


    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" class="sticky bottom-0 z-10"
                   area-label="Seleccionar número de elementos a mostrar"></mat-paginator>

</div>