<mat-toolbar color="primary" class="flex flex-row">

    <button mat-icon-button class="basis-1/24" (click)="sidenavToggle()">
        <mat-icon>menu</mat-icon>
    </button>
    
    <div class="text-start basis-full">
        <span class="font-bold italic text-4xl uppercase cursor-pointer">Chems-App</span>
    </div>

    
    <button mat-button *ngFor="let item of menuItems" class="basis-3/12">
        <mat-icon class="mr-1">{{item.icon}}</mat-icon>
        <span>{{item.item}}</span>
    </button>
    
    <span class="basis-3/12 text-end mx-2 font-semibold">{{activeUser.firstname + ' ' + activeUser.lastname}}</span>
    
    <button mat-button (click)="logout()" class="basis-4/12">
        <mat-icon class="mr-1">logout</mat-icon>
        <span>Cerrar Sesión</span>
    </button>

</mat-toolbar>