<div *ngIf="!!chemical" class="container">

    <p class="text-4xl font-black text-center mt-2">{{chemical.chemical | uppercase}}</p>

    <!-- Sección Pictogramas Peligros y EPP -->

    <section class="container grid grid-cols-2 justify-items-center mx-7">

        <!-- Peligros -->

        <div class="col-span-1">
            <p class="text-center font-semibold text-xl mb-1">Peligros</p>
            <div class="container flex justify-center">
                <mat-card
                          *ngFor="let hazard of chemical.hazards"
                          matTooltip="{{hazard.description}}"
                          matTooltipClass="text-sm bg-primary-800 bg-opacity-90"
                          class="w-24 flex-initial mx-2 mt-1 mb-3 grid grid-cols-1 justify-items-center p-0">

                    <img mat-card-image
                         src="{{ baseUrl + hazard.pictogram }}"
                         alt="{{hazard.hazard}}"
                         class="mt-1">
                    <mat-card-title-group>
                        <mat-card-title class="text-center text-xs">{{hazard.hazard}}</mat-card-title>
                        <mat-card-subtitle class="text-center text-xs">{{hazard.code}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card>
            </div>
        </div>

        <!-- EPPs -->

        <div class="col-span-1">
            <p class="text-center font-semibold text-xl mb-0">EPP</p>
            <div class="container flex justify-center">
                <mat-card *ngFor="let ppe of chemical.ppes"
                          class="w-24 flex-initial mx-2 mt-1 mb-3 grid grid-cols-1 justify-items-center">
                    <img mat-card-image
                         src="{{ baseUrl + ppe.img }}"
                         alt="{{ppe.ppe}}"
                         class="mt-1">
                    <mat-card-title class="text-center text-xs">{{ppe.ppe}}</mat-card-title>
                </mat-card>
            </div>
        </div>

    </section>

    <!-- Sección Información -->

    <section class="mx-7 mt-7">

        <!-- Indicaciones de Peligro y Frases de Prudencia -->

        <div *ngFor="let phrases of [chemical.h_phrases, chemical.p_phrases]; let i = index">
            <p class="font-black text-lg"> {{phrasesTitles[i]}}</p>

            <p class="ml-3" *ngFor="let phrase of phrases">
                <span class="font-semibold">{{ phrase.code }}: </span>
                <span class="">{{ phrase.description }}</span>
            </p>
        </div>

        <!-- Fabricantes, Proveedores y Areas -->

        <div *ngFor="let section of [chemical.manufacturers, chemical.providers, areas]; let i = index">
            <p class="font-black text-lg">{{infoTitles[i]}}</p>
            <mat-chip-list class="">
                <mat-chip color="primary" selected class="ml-3 mb-4 text-xs"
                          *ngFor="let item of section">
                    <span>{{ item | uppercase }}</span>
                </mat-chip>
            </mat-chip-list>
        </div>

        <!-- Fichas de Seguridad -->

        <p class="font-black text-lg">Ficha de Seguridad</p>
        <p *ngFor="let sds; let index=index of chemical.sds" class="ml-3">
            <a href="{{sds}}" target="_blank" class="text-primary-500">
                Ver FDS {{index + 1}}
            </a>
        </p>

        <!-- Estado de la Sustancia Química -->

        <p class="font-black text-lg">Estado de la Sustancia Química</p>
        <p class="ml-3">
            {{chemical.status ? 'Activo' : 'Inactivo'}}
        </p>

    </section>

    <!-- Aprobación -->

    <section class="mx-7 mt-7">
        <div class="grid grid-cols-3 border-t border-b border-solid border-primary-500">
            <div *ngFor="let item of [chemical.fsms, chemical.ems, chemical.ohsms] let i = index"
                 class="col-span-1 text-center">
                <div class="font-black text-lg">Aprobación {{managementSystems[i]}}</div>
                <div><span class="font-semibold">Estado de aprobación: </span>
                    {{item.approval ? 'Aprobado' : 'No Aprobado'}}
                </div>

                <div *ngIf="item.approval">
                    <span class="font-semibold">Apropabo por: </span>{{ item.approbed_by }}
                </div>

                <div *ngIf="item.approval">
                    <span class="font-semibold">Fecha de aprobación: </span>{{ item.approval_date | dates}}
                    <!-- <span class="font-semibold">Fecha de aprobación: </span>{{ item.approval_date | date:'medium':'-1000'}} -->
                </div>
            </div>
        </div>
    </section>


    <footer class="mx-7 my-7 grid grid-cols-3">

        <button mat-button color="primary" class="col-span-1" (click)="back()">
            <mat-icon>keyboard_return</mat-icon>
            Regresar
        </button>

        <button mat-button color="primary" class="col-span-1" (click)="edit()">
            <mat-icon>edit</mat-icon>
            Editar
        </button>

        <p class="col-span-1 text-center self-center m-0">
            <span class="font-black">
                Actualizado por: </span> {{chemical.last_update_by.full_user_name}}
        </p>


    </footer>


</div>